.DS_Store
target
.classpath
.project
.settings
.bin
.pmd*
*.orig
.index*
hs_err_*.log
.vertx
dependency-reduced-pom.xml
.checkstyle
.testcontainers*
.idea
.factorypath
*.iml

#dlib models
worker/actions/facedetect/dlib/
